body {
  background-color: pink;
}
.gamePage {
  width: 75%;
  margin: auto;
  height: 100%;
  margin-top: 15%;
  border: 1px solid red;
  align-items: center;
  align-content: center;
  text-align: center;
}
input {
  text-align: center;
}
img {
  background-color: black;
  border: solid springgreen;
}
